
@{
    ViewData["Title"] = "Contact Us";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Start Body *@
<section class="">
    <center>
        <div class="bg-success text-white rounded-2">
            <h1>Wellcome To Contact Us Page</h1>
            <p>Lorem . . . </p>
        </div>
    </center>
</section>
@* End Body *@

