
@{
    ViewData["Title"] = "Index";
    // Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body>
   @*  @DateTime.Now;
    @{
        int x = 10;
    } *@
    <!-- HTML Comment -->
   

    @* Start Body *@
    <section class="">
        <center>
            <div class="bg-primary text-white rounded-2">
                <h1>Wellcome To Home Page</h1>
                <p>Lorem . . . </p>
            </div>
        </center>
        
    </section>
    @* End Body *@

    
    

</body>
</html>
